
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Employer</title>

    <!-- Custom fonts for this template-->
    <link href="~/Assets/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Assets/admin/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- icon -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <style>
        #wrapper .nav-item .nav-link {
            display: flex;
            align-items: center;
            margin-left: 10px;
        }

            #wrapper .nav-item .nav-link ion-icon {
                margin-right: 10px;
            }

        @RenderSection("css",false)
    </style>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gray-900 sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index","")">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Hello Employer</div>
            </a>

            <!-- ************************************************************************************** -->
            <!-- Menu -->
            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <!-- Divider -->
            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index","jobs")">
                    <!-- <i class="fas fa-fw fa-tachometer-alt"></i> -->
                    <ion-icon name="bag-handle-outline"></ion-icon>
                    <span>Quản lý Job</span>
                </a>
            </li>


            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Company -->
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index","userapplies")">
                    <!-- <i class="fas fa-fw fa-tachometer-alt"></i> -->
                    <ion-icon name="bag-handle-outline"></ion-icon>
                    <span>Quản lý ứng tuyển</span>
                </a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Company -->
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Details","companies")">
                    <!-- <i class="fas fa-fw fa-tachometer-alt"></i> -->
                    <ion-icon name="bag-handle-outline"></ion-icon>
                    <span>Công ty</span>
                </a>
            </li>
            <hr class="sidebar-divider">

            <!-- Company -->
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index","blogs")">
                    <!-- <i class="fas fa-fw fa-tachometer-alt"></i> -->
                    <ion-icon name="bag-handle-outline"></ion-icon>
                    <span>Blogs</span>
                </a>
            </li>
            <hr class="sidebar-divider">

            <!-- Company -->
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index","stories")">
                    <!-- <i class="fas fa-fw fa-tachometer-alt"></i> -->
                    <ion-icon name="bag-handle-outline"></ion-icon>
                    <span>Câu chuyện</span>
                </a>
            </li>
            <!-- Nav Item - Dashboard -->
            <!-- Nav Item - Dashboard -->
            <!-- ************************************************************************************** -->
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <nav id="navbar" class="navbar navbar-expand navbar-light bg-dark topbar mb-4 static-top shadow">
                    @{Html.RenderAction("Menu", "Home");}
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav>
                <div class="container-fluid">
                    @RenderBody()
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->


    @RenderSection("ClientScript", false)
</body>
</html>
