@model IEnumerable<Final.Models.Story>

<div class="col-md-12">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr class="text-center">
                    <th>STT</th>
                    <th>Tiêu đề </th>
                    <th>Hiển thị</th>
                    <th>Ngày tạo</th>
                    <th>Ngày cập nhật</th>

                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody id="display">

                @{ var number = 1;}
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.Raw(number++)</td>
                        <td>@Html.DisplayFor(modelI => item.title)</td>


                        <td>
                            @if (item.hide == true)
                            {


                                <p>Hiển thị</p>

                            }
                            else
                            {
                                <p>Ẩn</p>
                            }
                        </td>



                        <td>@Html.DisplayFor(modelI => item.dateBegin)</td>
                        <td>@Html.DisplayFor(modelI => item.dateModife)</td>

                        <td class="text-center">
                            <a href="@Url.Action("Edit", new { id = item.id })" class="text-primary"><ion-icon name="create-outline"></ion-icon></a>
                            <span>|</span>
                            <a href="@Url.Action("Details", new { id = item.id })" class="text-dark"><ion-icon name="search-outline"></ion-icon></a>
                            @if (item.hide == true)
                            {
                                <span>|</span>
                                <a href="@Url.Action("Delete", new { id = item.id })" class="text-danger"><ion-icon name="trash-outline"></ion-icon></a>
                            }
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

