@model Final.Models.User

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/admin/Views/Shared/_adminLayout.cshtml";
}

<h2>Khóa tài khoản user</h2>

<div>
    <hr />
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr class="text-center">
                            <th colspan="2"><h5 id="name">@Html.DisplayFor(model => Model.username)</h5></th>
                        </tr>
                    </thead>
                    <tbody id="display">
                        @Html.Action("getProfile", "temp", new { id = Model.id })

                        <tr>
                            <td><b>Email</b></td>

                            <td>@Html.DisplayFor(model => Model.email)</td>
                        </tr>

                        <tr>
                            <td><b>Vai trò</b></td>
                            <td>
                                @if (Model.role == 1)
                                {


                                    <p>Người ứng tuyển</p>

                                }
                                else if (Model.role == 2)
                                {


                                    <p>Nhà tuyển dụng</p>
                                }
                                else
                                {
                                    <p>Admin</p>
                                }

                            </td>
                        </tr>
                        <tr>
                            <td><b>Trạng thái</b></td>

                            <td>
                                @if (Model.status == true)
                                {
                                    <p>Hoạt động</p>
                                }
                                else
                                {
                                    <p>Khóa</p>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div style="display:flex">
            <div class="col-md-offset-2 col-md-10">
                <a href="@Url.Action("Index")" class="btn btn-info">Trở về</a>
            </div>
            <div class="form-actions">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
        </div>
    }
</div>
