@model IEnumerable<Final.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_adminLayout.cshtml";
}

<h2>Quản lý user</h2>

<div class="card shadow mb-4">
    <div style="display: flex;" class="py-3">
        <p style="margin:10px">Search:</p>
        <input type="text" name="searchQuery" placeholder="" class="form-control" id="charSearch">
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr class="text-center">
                        <th>STT</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Vai trò</th>
                        <th>Trạng thái</th>
                        <th>Hành động</th>
                    </tr>
                </thead>

                <tbody id="display">

                    @{ var number = 1;}
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.Raw(number++)</td>
                            <td>@Html.DisplayFor(modelI => item.username)</td>

                            <td>@Html.DisplayFor(modelI => item.email)</td>

                            <td class="text-center">
                                @if (item.role == 1)
                                {


                                    <p>Người ứng tuyển</p>

                                }
                                else if(item.role==2)
                                {


                                    <p>Nhà tuyển dụng</p>
                                }
                                else
                                {
                                    <p>Admin</p>
                                }
                            </td>
                            <td class="text-center">
                                @if (item.status == true)
                                {


                                    <p class="text text-success">Hoạt động</p>

                                }
                                
                                else
                                {
                                    <p class="text text-danger">Khóa</p>
                                }
                            </td>
                            <td class="text-center">
                                <a href="@Url.Action("Edit", new { id = item.id })" class="text-primary"><ion-icon name="create-outline"></ion-icon></a>
                                <span>|</span>
                                <a href="@Url.Action("Details", new { id = item.id })" class="text-dark"><ion-icon name="search-outline"></ion-icon></a>
                                @if (item.status == true)
                                {
                                    <span>|</span>
                                    <a href="@Url.Action("Delete", new { id = item.id })" class="text-danger"><ion-icon name="trash-outline"></ion-icon></a>
                                }
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
@section ClientScript{
    <!-- Bootstrap core JavaScript-->
    <script src="~/Assets/admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/Assets/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Assets/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Assets/admin/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/Assets/admin/vendor/chart.js/Chart.min.js"></script>


    <script>
        $(document).ready(function () {
            $("#charSearch").on('input', function () {
                $.ajax({
                    url: '@Url.Action("Data", "Users")',
                    type: 'post',

                    success: function (data) {
                        var char = $("#charSearch").val();
                        var users = []
                        if (data) {
                            for (let i = 0; i < data.length; i++) {
                                users.push(data[i])
                            }

                        }
                        let result = []
                        if (char) {
                            result = users.filter(element => element['username'].toLowerCase().includes(char));


                        }
                        else {
                            result = users
                        }
                        var html_result = "";
                        if (result.length > 0) {
                            var ht1 = "";
                            for (i = 0; i < result.length; i++) {
                                ht1+=`<tr>`
                                ht1 += `<td>${i+1}</td>`
                                ht1 += `<td>${result[i]['username']}</td>`;
                                ht1 += `<td>${result[i]['email']}</td>`;
                                
                                ht1 += `<td class="text-center">`;
                                if (result[i]['role'] == 1)
                                {
                                    ht1 +="<p>Người ứng tuyển</p>"
                                }
                                else if (result[i]['role'] ==2)
                                {


                                    ht1 +="<p>Nhà tuyển dụng</p>"
                                }
                                else
                                {
                                    ht1 += "<p>Admin</p>"
                                }
                                ht1 += `</td>`;
                                ht1+=`<td>`
                                if (result[i]['status']) {
                                    ht1 += ` <p class="text text-success">Hoạt động</p>`;

                                } else {
                                    ht1 += `<p class="text text-danger">Khóa</p>`;
                                }
                                ht1 += `</td>`
                                
                                const menuid = result[i]['id'];
                                ht1 +="<td>"
                                ht1 += '<a href="@Url.Action("Edit")/' + menuid + '" class="text-primary"><ion-icon name="create-outline"></ion-icon></a>';
                                ht1 += `<span>|</span>`
                                ht1 += '<a href="@Url.Action("Details")/' + menuid + '" class="text-dark"><ion-icon name="search-outline"></ion-icon></a>';
                                if (result[i]['status']) {
                                    ht1 +=`<span>|</span>`
                                    ht1 += '<a href="@Url.Action("Delete")/' + menuid + '" class="text-danger"><ion-icon name="trash-outline"></ion-icon></a>';
                                }
                                ht1 += `</td>`
                                ht1+=`</tr>`

                            }
                            html_result += ht1;

                            document.getElementById("display").innerHTML = html_result;
                        }

                    }
                })
            })

        });
    </script>
}
