@model Final.Models.Job

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/employer/Views/Shared/_employerLayout.cshtml";
}

<h2>Xóa công việc</h2>

<div>
    <hr />
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr class="text-center">
                            <th colspan="2"><h5 id="name">@Html.DisplayFor(model => Model.name)</h5></th>
                        </tr>
                    </thead>
                    <tbody id="display">
                        <tr>
                            <td><b>Meta</b></td>

                            <td>@Html.DisplayFor(model => Model.meta)</td>
                        </tr>
                        <tr>
                            <td><b>Danh mục công việc</b></td>
                            <td>@Html.Action("getCateById", "temp", new { id = Model.categoryID })</td>
                        </tr>
                        <tr>
                            <td><b>Công ty</b></td>

                            <td>
                                @Html.Action("getCompanyByJobId", "temp", new { id = Model.companyID })
                            </td>
                        </tr>
                        <tr>
                            <td><b>Số lượng tuyển</b></td>

                            <td>@Html.DisplayFor(model => Model.quantity)</td>
                        </tr>


                        <tr>
                            <td><b>Cấp độ</b></td>

                            <td>@Html.DisplayFor(model => Model.levelJ)</td>
                        </tr>
                        <tr>
                            <td><b>Yêu cầu</b></td>
                            <td>@Html.Raw(Model.description)</td>

                        </tr>
                        <tr>
                            <td><b>Mức lương</b></td>

                            <td>
                                @if (Model.salary != 0)
                                {
                                    <p>@Model.salary</p>
                                }
                                else
                                {
                                    <p>Thương lượng với ứng viên</p>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td><b>Mô tả chi tiết</b></td>
                            <td>@Html.Raw(Model.detail)</td>

                        </tr>
                        <tr>
                            <td><b>Hiển thị</b></td>

                            <td>
                                @if (Model.hide == true)
                                {
                                    <p>Hiển thị</p>
                                }
                                else
                                {
                                    <p>Ẩn</p>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td><b>Ngày tạo</b></td>
                            <td>@Html.DisplayFor(model => model.dateBegin)</td>
                        </tr>
                        <tr>
                            <td><b>Người tạo</b></td>
                            <td>@Html.Action("getUsernameFromId", "temp", new { id = Model.createBy })</td>

                        </tr>
                        <tr>
                            <td><b>Ngày cập nhật</b></td>
                            <td>@Html.DisplayFor(model => model.dateModife)</td>
                        </tr>
                        <tr>
                            <td><b>Người cập nhật</b></td>
                            <td>@Html.Action("getUsernameFromId", "temp", new { id = Model.modifedBy })</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div style="display:flex">
            <div class="col-md-offset-2 col-md-10">
                <a href="@Url.Action("Index")" class="btn btn-info">Trở về</a>
            </div>
            <div class="form-actions">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
        </div>
    }
</div>