@model IEnumerable<Final.Models.Job>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/employer/Views/Shared/_employerLayout.cshtml";
}

<h1 class="h3 mb-4 text-gray-800">Quản lý công việc</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="btn-group">
            <a href="@Url.Action("Create")" class="p-2 font-weight-bold text-white bg-dark">+ Thêm mới</a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr class="text-center">
                        <th>STT</th>
                        <th>Tên công việc</th>
                        <th>Meta</th>
                        <th>Hiển thị</th>
                        <th>Công ty</th>
                        <th>Ngày tạo</th>
                        <th>Ngày cập nhật</th>

                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>

                    @{ var number = 1;}
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.Raw(number++)</td>
                            <td style="max-width: 400px; word-wrap: break-word; overflow-wrap: break-word;">@Html.DisplayFor(modelI => item.name)</td>


                            <td>@Html.DisplayFor(modelI => item.meta)</td>

                            <td class="text-center">
                                @if (item.hide == true)
                                {


                                    <p>Hiển thị</p>

                                }
                                else
                                {
                                    <p>Ẩn</p>
                                }
                            </td>


                            <td>
                                @Html.Action("getCompanyByJobId", "temp", new { id = item.companyID })
                            </td>

                            <td>@Html.DisplayFor(modelI => item.dateBegin)</td>
                            <td>@Html.DisplayFor(modelI => item.dateModife)</td>

                            <td class="text-center">
                                <a href="@Url.Action("Edit", new { id = item.id })" class="text-primary"><ion-icon name="create-outline"></ion-icon></a>
                                <span>|</span>
                                <a href="@Url.Action("Details", new { id = item.id })" class="text-dark"><ion-icon name="search-outline"></ion-icon></a>
                                @if (item.hide == true)
                                {
                                    <span>|</span>
                                    <a href="@Url.Action("Delete", new { id = item.id })" class="text-danger"><ion-icon name="trash-outline"></ion-icon></a>
                                }
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
@section ClientScript{
    <!-- Bootstrap core JavaScript-->
    <script src="~/Assets/admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/Assets/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Assets/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Assets/admin/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/Assets/admin/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
}