@model List<Final.Models.Menu>
@{
    List<long?> inner_id = new List<long?>();

    // Collect the IDs of the items that have an inner_menu property
    foreach (var j in Model)
    {
        if (j.inner_menu != null && !inner_id.Contains(j.inner_menu))
        {
            inner_id.Add(j.inner_menu);
        }
    }
}

<ul>
    @foreach (var item in Model)
    {

        if (item.name.Equals("Đăng nhập"))
        {
            if (ViewBag.userCurrent != null)
            {
                <li class="dropdown">
                <a class="getstarted scrollto">@ViewBag.userCurrent</a>
                <ul>
                    <li><a href="../../home/profile">Cá nhân</a></li>

                    <li><a href="../../home/logout">Đăng xuất</a></li>
                </ul>
                </li>
            }
            else
            {
                <li><a class="getstarted scrollto" href="../@item.meta">@item.name</a></li>

            }

        }
        else if (item.name.Equals("Đăng ký"))
        {
            if (ViewBag.userCurrent == null)
            {

                <li><a class="nav-link scrollto" href="../@item.meta" >@item.name</a></li>

            }
        }
        else if (!inner_id.Contains(item.id) && item.inner_menu == null)
        {
            <li><a class="nav-link scrollto" href="../@item.meta">@item.name</a></li>

        }
        else if (inner_id.Contains(item.id))
        {
            <li class="dropdown">
                <a href="#"><span>@item.name</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                    @foreach (var i in Model)
                    {
                        if (i.inner_menu == item.id)
                        {
                            <li><a href="../../@i.meta" style="background:#333">@i.name</a></li>
                        }
                    }
                </ul>
            </li>
        }
    }

</ul>
